@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding:0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
body{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}
.sidebar{
  grid-row: 1/-1;
  grid-column: 1/2;
  background-color: skyblue;
  display: grid;
  justify-content: center;
  grid-template-columns: 95%;
  grid-template-rows: auto auto auto 3fr;
  gap:50px;
}
.sidebar-head, .sidebar-list-1 li, .sidebar-list-2 li{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.sidebar-head{
  margin-top: 14px;
}
.sidebar-head h1{
  font-size:1.7rem;
  justify-self: start;
}
.sidebar-list-1, .sidebar-list-2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.sidebar-head img, .sidebar-list-1 img, .sidebar-list-2 img{
  justify-self: center;
}
.sidebar-list-1 div, .sidebar-list-2 div{
  justify-self: start;
  font-weight: bold;
}
.sidebar-list-1 img, .sidebar-list-2 img, .tools img{
  width: 22px;
  height: auto;
}

.header{
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  padding: 10px 60px;
  height: 140px;
  gap: 10px;
}
.tools{
  display: grid;
  grid-template-columns: auto 3fr auto auto auto;
  gap: 12px;
  align-items: center;
  font-weight: bold;
}
.tools input{
  width: 80%;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgb(219, 217, 217);
  outline: none;
}
.profile-img{
  width: 40px;
  height: 40px;
  background-image: url(./assets/photo_2022-06-30_18-42-06.jpg);
  background-size:cover;
  border-radius: 50%;
}
.account{
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 20px;
}
.account-img{
  width: 65px;
  height: 65px;
  background-image: url(./assets/photo_2022-06-30_18-42-06.jpg);
  background-size: cover;
  border-radius: 50%;
}
.account button{
  border: none;
  background-color: rgb(35, 154, 201);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  width: 90px;
  height: auto;
  cursor: pointer;
}
.account-info{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-weight: bold;
}
.account-info h1{
  font-size: 1.3rem;
}
.account-info h4{
  font-size: 1rem;
}

.main-container{
  grid-column: 2/-1;
  grid-row: 2/-1;
  background-color: lightcyan;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1;
  padding: 20px 15px;
  gap: 10px;
  background-color:rgb(223, 231, 243) ;
}
.cards-container, .announcement, .trending{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;
}
.side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.card{
  background-color: white;
  border-left: 10px solid orange;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-items: end;
  padding: 16px;
  gap: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
}
.card-content h3{
 font-size: 1rem;
}
.card-content p{
  font-size: 0.85rem;
}
.card .action{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 10px;
}
.action img{
  cursor: pointer;
}
.annoucement-card{
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 1fr auto 1fr auto 1fr;
  background-color: white;
  padding: 16px 0;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
}
.annoucement-card hr{
  border-top: 1px solid lightgray;
}
.annoucement-card div p{
  font-size: 0.8rem;
}
.annoucement-card div h4{
  font-size: 0.8rem;
}
.trending-card{
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: repeat(4, 1fr);
  background-color: white;
  padding: 16px 0;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
}
.trending-card > div{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.trending-card div h4, .trending-card div p{
  font-size: 0.85rem;
}
.trending-card img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
